@import url(style.css);
@import url(header.css);
@import url(cards.css);


.buttons {
    display: flex;
    justify-content: top;
    padding: 1rem;
    position: relative;
}
.brooklynbtn {
    position: relative;
}
.statenislandbtn {
    position: relative;
}
.manhattanbtn {
    position: relative;
}
.queensbtn {
    position: relative;
}
.thebronxbtn {
    position: relative;
}
.borobtnBK {
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: var(--pinkee);
}
.borobtnBK:hover {
    background-color: red;
}
.borobtnSI {
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: var(--pinkee);
}
.borobtnSI:hover {
    background-color: yellow;
}
.borobtnMN {
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: var(--pinkee);
}
.borobtnMN:hover {
    background-color: green;
}
.borobtnQN {
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: var(--pinkee);
}
.borobtnQN:hover {
    background-color: blue;
}
.borobtnBX {
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: var(--pinkee);
}
.borobtnBX:hover {
    background-color: purple;
}
.lanebtn {
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: var(--pinkee);
}
.lanebtn:hover {
    background-color: navajowhite;
}
