@import url(style.css);
@import url(header.css);
@import url(cards.css);

.buttons {
    display: flex;
    justify-content: left;
    padding: 1rem;
}
.brooklynbtn {
    position: relative;
}
.statenislandbtn {
    position: relative;
}
.manhattanbtn {
    position: relative;
}
.queensbtn {
    position: relative;
}
.thebronxbtn {
    position: relative;
}
.brooklynbtn {
    font-size: 1rem;
    height: 5rem;
    width: 10rem;
    background-color: var(--btnbacco);
}
.statenislandbtn {
    font-size: 1rem;
    height: 5rem;
    width: 10rem;
    background-color: var(--btnbacco);
}
.manhattanbtn {
    font-size: 1rem;
    height: 5rem;
    width: 10rem;
    background-color: var(--btnbacco);
}
.queensbtn {
    font-size: 1rem;
    height: 5rem;
    width: 10rem;
    background-color: var(--btnbacco);
}
.thebronxbtn {
    font-size: 1rem;
    height: 5rem;
    width: 10rem;
    background-color: var(--btnbacco);
}
/* defining the button styles */