@import url(style.css);
@import url(buttons.css);
@import url(cards.css);

.header {
    padding: 2rem;
    background-color: beige;
    position: relative;
    display: flex;
    justify-content: center;
}
.mainheadertxt {
    font-size: var(--h5);
}
.headerimg {
    max-width: 20rem;
    max-height: 20rem;
    margin: 1rem 0;
}
